

.ticket-circle-right{
    --semi-height: 4rem;
    --semi-width: calc(var(--semi-height) * 0.5);
    --semi-color: white;
    width: var(--semi-width);
    height: var(--semi-height);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-left-style: solid;
    border-left-color: var(--semi-color);
    border-top-style: solid;
    border-top-color: var(--semi-color);
    border-bottom-style: solid;
    border-bottom-color: var(--semi-color);
    border-right-style: solid;
    border-right-color: var(--semi-color);
}

.ticket-circle-left{
    --semi-height: 4rem;
    --semi-width: calc(var(--semi-height) * 0.5);
    --semi-color: white;
    width: var(--semi-width);
    height: var(--semi-height);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-right-style: solid;
    border-right-color: var(--semi-color);
    border-top-style: solid;
    border-top-color: var(--semi-color);
    border-bottom-style: solid;
    border-bottom-color: var(--semi-color);
    border-left-style: solid;
    border-left-color: var(--semi-color);
}